@media only screen and (max-width: 1200px) {
  html {
    font-size: 50%;
  }
  .nav {
    height: 5rem;
    width: 100%;
    padding: 0 2rem;
  }

  .nav-item {
    margin: 0rem 2rem;
  }
  .section {
    margin-top: 2vh;
    padding: 2vh 2vw;
  }
  .project-main {
    height: 50vh;
    width: 18vw;
  }
}

@media only screen and (max-width: 1023px) {
  html {
    font-size: 40%;
  }
  .nav {
    height: 5rem;
    width: 100%;
    padding: 0 2rem;
  }

  .nav-item {
    margin: 0rem 1rem;
  }
  .section {
    margin-top: 2vh;
    padding: 0px 0px;
  }
  p {
    font-size: 1.6rem;
    margin: 5vh 10vw;
  }
  ol {
    font-size: 1.6rem;
    margin: 1vh 16vw;
  }
  .project-main {
    height: 45vh;
    width: 20vw;
  }
}

@media only screen and (max-width: 767px) {
  html {
    font-size: 25%;
  }
  .nav {
    height: 5rem;
    width: 100%;
    padding: 0 2rem;
  }

  .nav-item {
    margin: 0rem 1rem;
  }
  .section {
    margin-top: 2vh;
    padding: 0px 0px;
  }
  p {
    font-size: 1.6rem;
    margin: 5vh 10vw;
  }
  ol {
    font-size: 1.6rem;
    margin: 1vh 16vw;
  }
  .project-main {
    height: 40vh;
    width: 20vw;
  }
}

@media only screen and (max-width: 480px) {
  html {
    font-size: 20%;
  }
  .nav {
    height: 5rem;
    width: 100%;
    padding: 0 2rem;
  }

  .nav-item {
    margin: 0rem 1rem;
  }
  .section {
    margin-top: 2vh;
    padding: 0px 0px;
  }
  p {
    font-size: 1.4rem;
    margin: 2vh 5vw;
  }
  ol {
    font-size: 1.4rem;
    margin: 1vh 10vw;
  }
  h4 {
    margin: 1% 1%;
    font-size: 1.2rem;
    text-align: justify;
    overflow: auto;
  }
  .project-main {
    height: 30vh;
    width: 20vw;
  }
}
@media only screen and (max-width: 350px) {
  html {
    font-size: 10%;
  }
  .nav {
    height: 4rem;
    width: 100%;
    padding: 0 1.6rem;
  }

  .nav-item {
    margin: 0rem 0.9rem;
  }
  .section {
    margin-top: 1.5vh;
    padding: 0px 0px;
  }
  p {
    font-size: 1.2rem;
    margin: 1vh 3vw;
  }
  ol {
    font-size: 1.2rem;
    margin: 1vh 5vw;
  }
  h4 {
    margin: 0.6% 0.6%;
    font-size: 0.5rem;
  }
  .project-main {
    height: 20vh;
    width: 13vw;
  }
}
@media only screen and (max-width: 350px) {
  .project-main {
    height: 15vh;
    width: 20vw;
  }
}
